/* Rental Documents Content styles */
.car-detail-content {
  h1 {
    font-size: 32px !important;
    font-weight: 500;
  }

  h2 {
    font-size: 28px !important;
    font-weight: 500;
  }

  h3 {
    font-size: 22px !important;
    font-weight: 500;
  }

  h4 {
    font-size: 20px !important;
    font-weight: 400;
  }

  h5 {
    font-size: 18px !important;
    font-weight: 400;
  }

  h5 {
    font-size: 16px !important;
    font-weight: 400;
  }

  strong {
    font-weight: inherit;
  }

  p {
    margin-bottom: 16px;
  }

  ul {
    margin-bottom: 16px;

    li {
      list-style: disc;

      margin-left: 22px;
    }

    strong {
      font-weight: 500;
    }
  }
}
